{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | About JUMUN 2019{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('aj2') }}
<main class="content">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>JUMUN 2019</h1>
        <p>
The Fifth Edition of JUMUN that is going to be held in 2019, promises each participant a variety of committees to choose from. These committees have been brainstormed about and guaranteed to be one of the most exhilarating and exciting of all committees.This edition of JUMUN emphasizes on the uniqueness of each committee that we will present to the audience. The committees this year include the Seneca Falls Conference, the Shangri La Dialogue and UNCTAD, all of which shall be hosted for the first time in the history of Model United Nations. We aim to create an atmosphere of learning along with the healthy spirit of competition. The quality and power of each of these committees should not be undermined.
        </p><p>
We shall also aim to continue with our Civil Society Initiative and JUMUNJI. These have stayed as our heritage traditions that in turn have added a greater social value to the conference as a whole. The Civil society initiative aims at enhancing the society in general and giving back what we take. The JUMUNJI is a student initiative for our young minds in schools, they are given the chance to embark on a journey of learning about diplomacy and also are encouraged to emerge as individual leaders, who would be the future of this sprawling nation.
        </p>
    </section>
</main>
{% endblock %}
