{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | JUMUN review{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('ajr') }}
<main id="content">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>JUMUN review</h1>
        <p>
Jadavpur University came into being during the era of revolution in Bengal. Being one of the places known for varied opinions, this esteem shrine of education stands for knowledge with no bounds. The colourful campus provides evidence to what diversity would actually look like. Students here not only excel in academics but also in diverse art forms. One could witness discussions going on in every nook and corner of the campus in just one single visit. This campus is a hub in itself for youth and their vast minds. Being an institution that  not only thinks about the present but also the future, students here thrive to do their part in shaping the same. One of their initiatives to secure a better world is the Model United Nations Conference.
        </p><p>
Model United Nations Conference is an educational simulation and/or academic activity in which students can learn about diplomacy, international relations and the United nations apart from other varied areas. An all encompassing educational conference that not only imparts and increases ones knowledge but also develops critical thinking, teamwork and leadership skills. This not only prepares an individual to think responsibly but also encourages them to participate in the world building process.
        </p><p>
 Jadavpur University Model United Nations (JUMUN) has almost become a ritual.  Being held consecutively for the last four years, this year is no different. With new ideas, committees and fresh outlook JUMUN is ready to embrace its 5th edition in 2019. Like every year this will be a three day conference that will delve into diplomacy, politics and knowledge. The fifth edition will bring with it 8 committees with various accolades that will be awarded only to the best.
        </p><p>
  Every year our delegates come in from schools and colleges which ranges to more than 40 institutions. The vast reach of JUMUN is such because it is not restricted to India and  encompasses International delegates from other countries. JUMUN is perfect for anyone who is interested in politics because this aims at a wholistic development of a first timer and provides a  brilliant arena of  competition for the veterans. JUMUN has become what it is today because it is not like every second educational competition. It is a learning process that is required for everyone to grow, develop and create.
        </p>
    </section>
</main>
{% endblock %}
