<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport" />
    <meta name="theme-color" content="#fff">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/img/favicon.png">
    {% block headmeta %}{% endblock %}
</head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>
