<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport" />
    <meta name="theme-color" content="#561498">
    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="stylesheet" href="/css/index.css">
    <script type="text/javascript" src="/js/index.js"></script>
    {% block headmeta %}{% endblock %}
</head>
    <body>
    {% block content %}{% endblock %}
    </body>
    <footer>
        <div>
            <h3>Committees</h3>
            <ul>
                <li><a href="/committees/disec">DISEC</a></li>
                <li><a href="/committees/ip">IP</a></li>
                <li><a href="/committees/aippm">AIPPM</a></li>
                <li><a href="/committees/sfc">SFC</a></li>
                <li><a href="/committees/hcr">HCR</a></li>
                <li><a href="/committees/unsc">UNSC</a></li>
                <li><a href="/committees/ctad">CTAD</a></li>
                <li><a href="/committees/asecs">ASECS</a></li>
            </ul>
        </div>
        <div>
            <h3>Contact us:</h3>
            <ul>
                <li><a href="mailto:delegateaffairs@jumun.org">delegateaffairs@jumun.org</a></li>
                <li><a href="mailto:info@jumun.org">info@jumun.org</a></li>
                <li><a href="mailto:secretarygeneral@jumun.org">secretarygeneral@jumun.org</a></li>
                <li><a href="mailto:sponsorship@jumun.org">sponsorship@jumun.org</a></li>
            </ul>
            <a target="_blank" rel="noopener" href="https://m.facebook.com/JUModelUnitedNations/"><img src="/img/fb.svg" alt="Facebook"></a>
            <a target="_blank" rel="noopener" href="https://twitter.com/JUMUN2019"><img src="/img/twitter.svg" alt="Twitter"></a>
            <a target="_blank" rel="noopener" href="https://www.instagram.com/jumun2019/"><img src="/img/ig.svg" alt="Instagram"></a>
        </div>
        <div>
            <p>Jadavpur University Model United Nations</p>
            <p>Debating Society, Jadavpur University <br> 2018-19 All rights reserved.</p>
            <p>Designed and developed by <a class="underline" href="mailto:vivek@vivekroy.com">Vivek Roy</a></p>
        </div>
    </footer>
</html>
