{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | Blog{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('b') }}
<main class="content" id="blog">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>Blog</h1>
        <hr>
        <section id="posts">
            <article>
                <a href="/blog/political-conflicts-sports-diplomacy">
                    <div class="img">
                        <img src="/img/sportsc1.jpg" alt="">
                        <img src="/img/sportsc1.jpg" alt="Political Conflicts and Sports Diplomacy">
                    </div>
                    <div class="details">
                        <h2>Political Conflicts and Sports Diplomacy</h2>
                        <div class="author">by Shreyosi Roy</div>
                        <div class="date">11<sup>th</sup> March, 2018</div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/blog/trade-showdown">
                    <div class="img">
                        <img src="/img/tradewar1.jpg" alt="">
                        <img src="/img/tradewar1.jpg" alt="A Trade Showdown">
                    </div>
                    <div class="details">
                        <h2>A Trade Showdown</h2>
                        <div class="author">by Doyita Basu</div>
                        <div class="date">26<sup>th</sup> February, 2019</div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/blog/security-in-21-century">
                    <div class="img">
                        <img src="/img/security.jpg" alt="">
                        <img src="/img/security.jpg" alt="Security in 21st century">
                    </div>
                    <div class="details">
                        <h2>Security in 21<sup>st</sup> century</h2>
                        <div class="author">by Shreyosi Roy</div>
                        <div class="date">15<sup>th</sup> February, 2019</div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/blog/contemporary-world-politics">
                    <div class="img">
                        <img src="/img/trade1.jpg" alt="">
                        <img src="/img/trade1.jpg" alt="Contemporary World Politics">
                    </div>
                    <div class="details">
                        <h2>Contemporary World Politics</h2>
                        <div class="author">by Nilesh Agarwal</div>
                        <div class="date">3<sup>rd</sup> February, 2019</div>
                    </div>
                </a>
            </article>
            <article>
                <a href="/blog/diplomats-are-made">
                    <div class="img">
                        <img src="/img/diplomacy.jpg" alt="Diplomacy">
                        <img src="/img/diplomacy.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Diplomats aren’t born, they are made</h2>
                        <div class="author">by Doyita Basu</div>
                        <div class="date">1<sup>st</sup> February, 2019</div>
                    </div>
                </a>
            </article>
        </section>
    </section>
</main>
{% endblock %}
