{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | Blog{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('b') }}
<main class="content" id="blog">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>Blog</h1>
        <hr>
        <section id="posts">
            <article>
                <a href="/blog/diplomats-are-made">
                    <div class="img">
                        <img src="/img/diplomacy.jpg" alt="Diplomacy">
                        <img src="/img/diplomacy.jpg" alt="">
                    </div>
                    <div class="details">
                        <h2>Diplomats aren’t born, they are made</h2>
                        <div class="date">1<sup>st</sup> February, 2019</div>
                        <p>MUN Diplomacy is shit and thus needs some reading so that you can do the shit as well.</p>
                    </div>
                </a>
            </article>
        </section>
    </section>
</main>
{% endblock %}
