{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | Blog{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('ba') }}
<main class="content" id="blog-post">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <div class="cover full-width">
            <img src="/img/trade1.jpg" alt="">
            <img src="/img/trade1.jpg" alt="US-China Trade War">
        </div>
        <h1 class="title">US-China Trade War</h1>
        <div class="date">3<sup>rd</sup> February, 2019</div>
        <hr>
        <p>In the 21st century, economics is the new means and ends of dominance in the World Order. As the economic and strategic centre of the world rapidly shifts from the West to Asia-Pacific, we can enumerate numerous rebalancing strategies and policies in trade, economics and defense to counter this shift.</p>
        <p>For example one may wonder how and why USA spends more on defense than the next 28 countries put together; out of which ironically 25 are its allies.  All these while the American people suffer from unaffordable health care and education-cost.</p>
        <p>For this, we must understand the important (and usually overlooked) link between economic policies and defense policies. High allocation to defense budgets are only justified by keeping alive the illusion of threat around the world, especially so in the Asia-Pacific region, which in turn keeps the multi-trillion dollar defense and shipping industries in the West up and running. These policy shifts could be easily observed if one detects the pattern of the shift in:</p>
        <ol>
            <li><p>US naval power centre in the form of number of frigates,  guided missile destroyers and aircraft-carrier strike groups to the US Pacific Command where it has been conducting “freedom of navigation operations (FONOP)” in the South China Sea for a long time.</p></li>
            <li><p>US leniency and cooperation for persuading India to join the anti-Chinese axis through economic promises, defense ties and concessions especially after April 19, 2016, when,  in a Joint Communique of the 14th Meeting of the Foreign Ministers of the Russian Federation, the Republic of India and the People’s Republic of China; it was announced that “all related disputes (on maintaining a legal order for seas and oceans) should be addressed through negotiations and agreements between the parties concerned”. The announcement effectively reiterated China’s policy on SCS and negated the use of third party arbitration. The Western powers would favor nothing more than a confrontation between both the countries to check their phenomenal rise.</p></li>
            <li><p>Keeping the SCS issue alive and imposing tariffs on China is a cherry on the cake(of deterring Chinese trade) as it hinders Chinese plans for implementing its One Belt, One Road and 21st century Silk Road plans by creating distractions and obstacles. This strategy is a necessity because the USA realises that:</p></li>
            <ul>
                <li><p>Their justification of conducting massive naval activities for supposedly protecting 90% of world trade flowing through the oceans, from the grasps of pirates, smugglers and “hostile forces”, will be futile. Moreover, what's worse, it will cause the collapse of not a billion dollar defense and shipping industry but a multi-trillion dollar one with the American dominance crumbling in 10 years. Hence, keeping the SCS issue alive and portraying PRC as the new USSR is fundamental to deter the growth of Chinese economy and power.</p></li>
                <li><p>Western dominated shipping costs can never compete with the in-road and rail services of OBOR in transit of goods and raw materials to the EU, Africa, Middle East and Central Asia. This will complete the expansion of Chinese influence in the next 20 years. That will mean the end of American eagle’s trade, defense and economic dominance and rise of the Chinese dragon.</p></li>
            </ul>
        </ol>
        <img class="post-img-full" src="/img/trade2.jpg" alt="What does the US import from China?">
        <p>Hence it is clear that in order to keep the economic dominance which is the new measure of world power; the West and its flag bearer: THE UNITED STATES OF AMERICA must keep the facade of necessity of defense spending and create a negative portrayal of Chinese aggression (economic and defensive) alive and well.</p>
    </section>
</main>
{% endblock %}
