{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | AIPPM{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('caippm') }}
<main id="content">
    {% include "partials/o_header.njk" %}
    {% import 'macros/committees.njk' as commit %}
    <div id="committees">
        {{ commit.gen_commit_svg("All India Political Parties Meet", "aippm.svg", "#8d2152") }}
        <div id="committee-text">
        <div class="cl-10">
            <h1>All India Political Parties Meet</h1>
            <h3>Agenda: Review of current reservation policy</h3>
            <p>
India is a subcontinent in itself and the reason is clear: it is a country which has more than just geographical diversity. Undeniably, governing a nation full of differences and diversities is not the task of one man alone. It takes an army of men with the strength to win a war, but it takes men with the sword of diplomacy to run a nation. The All India Political Parties Meet is one of its kind , the framework of this committee is very different from the regular Indian committees. Often convened to deliberate upon matters of urgency, AIPPM offers you the platform to weave together myriad views from all across the political spectrum.
            </p>
        </div>
        </div>
    </div>
</main>
{% endblock %}
