{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | CTAD{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('cctad') }}
<main class="content">
    {% include "partials/o_header.njk" %}
    {% import 'macros/committees.njk' as commit %}
    <div id="committees">
        {{ commit.gen_commit_svg("United Nations Conference on Trade and Development", "unctd.svg", "#47c675") }}
        <div id="committee-text">
        <div class="cl-10">
            <h1>United Nations Conference on Trade and Development</h1>
            <h3>Agenda: Reforming the IPR regime to stimulate growth with special reference to sustainable development goals.</h3>
            <p>
We stand at a juncture where we need policies that will eliminate poverty from its roots and provide universal access to a decent standard of living, inclusive of basic healthcare, food, etc. The United Nations Conference on Trade and Development, where each participant shall be given the opportunity to engage in  productive sessions focusing on formulating policies related to development in trade and commerce, emphasizing to achieve the Sustainable Development Goals while using tools such as trade , investment , finance and technology in order to do so. It falls on us to assist the developing nations access the benefits of a global economy.It aims to serve the greater good, with the goal of prosperity in mind.
            </p>
        </div>
        </div>
    </div>
</main>
{% endblock %}
