{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | DISEC{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('cdisec') }}
<main id="content">
    {% include "partials/o_header.njk" %}
    {% import 'macros/committees.njk' as commit %}
    <div id="committees">
        {{ commit.gen_commit_svg("United Nations General Assembly Disarmament and International Security", "disec.svg", "#745302") }}
        <div id="committee-text">
        <div class="cl-10">
            <h1>United Nations General Assembly Disarmament and International Security</h1>
            <h3>Agenda: International Regulations of Lethal Autonomous Weapons System.</h3>
        </div>
        </div>
    </div>
</main>
{% endblock %}
