{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | Allotments{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('allot') }}
<main id="content">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>Allotments</h1>
        <p>To view the allotments <a class="underline" target="_blank" rel="noopener noreferrer" href="https://drive.google.com/drive/folders/1Pf40BDk1BujSwRXlmlO8oHEXecfTbh1K?usp=sharing">click here</a>.</p>
    </section>
</main>
{% endblock %}
