{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | Home{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('apply') }}
<main class="content">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>Useful Information</h1>
        <ol id="uinfo">
            <li>The Application fee is Rs. 1200 for Single Delegation and Rs. 2400 for Double Delegation.</li>
            <li>The accommodation fees for JUMUN 2019 is Rs. 1500. (Transportation to and fro from accommodation will be provided)</li>
            <li>Applicants are requested to consult the <a class="underline" target="_blank" rel="noopener" href="/matrices">matrices</a>.</li>
            <li>For the UNSC, the application fee is Rs. 600. There will be no cash prizes in this committee. However, if anyone is facing financial constraints in paying the nominal fee required for attending the conference, they are encouraged to contact us for a possible waiver of the fee.</li>
            <li>Delegate structure:
                <ul>
                    <li>DISEC - Single/Double delegation</li>
                    <li>UNHCR - Single/Double delegation</li>
                    <li>Seneca Falls Conference - Single/Double delegation</li>
                    <li>UNCTAD - Single/Double delegation</li>
                    <li>AIPPM - Single delegation</li>
                    <li>UNSC - Single delegation</li>
                    <li>ASECS - Single delegation</li>
                    <li>International Press (Reporter) - Single delegation</li>
                    <li>International Press (Photographer) - Single delegation</li>
                </ul>
            </li>
            <li>Rs. 5 will be donated from each Delegate Payment for our Civil Society Initiative.</li>
            <li>International Delegate Fees is $60.</li>
        </ol>
    </section>
    <section class="cl-10">
        <h1>Apply</h1>
        <noscript>
            <h3>You need to have Javascript enabled for this form.</h3>
        </noscript>
        <section id="apply-sec">
            <form name="del_type" action="" method="POST" onsubmit="return del_type_submit()">
                <p>Applying as</p>
                <input id="del_type_single" type="radio" name="del_type_opt" value="single">
                <label class="radio" for="del_type_single">Single Delegation</label>
                <input id="del_type_double" type="radio" name="del_type_opt" value="double">
                <label class="radio" for="del_type_double">Double Delegation</label>
                <input class="btn" type="submit" value="Next">
            </form>
            {% import 'macros/delegations.njk' as del %}
            <form name="del1_info" action="" method="POST" onsubmit="return del1_info_submit()">
                {{ del.gen_del_info('1') }}
            </form>
            <form name="del2_info" action="" method="POST" onsubmit="return del2_info_submit()">
                {{ del.gen_del_info('2') }}
            </form>
            <form name="del_pref1" action="" method="POST" onsubmit="return del_pref1_submit()">
                {{ del.gen_pref('1') }}
            </form>
            <form name="del_pref2" action="" method="POST" onsubmit="return del_pref2_submit()">
                {{ del.gen_pref('2') }}
            </form>
            <form name="del_final" style="text-align: center;margin-bottom:4em;">
                <img id="del_final_loader" src="/img/loader.svg" alt="">
                <h1 id="del_final_message" style="font-weight: 400; color: #4caf50; display: none;">Application Successful!</h1>
                <h1 id="del_final_error" style="font-weight: 400; color: #f44336; display: none;">Application Failed!</h1>
            </div>
        </section>
    </section>
</main>
<div id="notify-list">
    <div id="error-list">
    </div>
    <div id="success-list">
    </div>
</div>
{% endblock %}
