{% extends "layout.njk" %}

{% block title %}Vivek Roy | Home{% endblock %}

{% block headmeta %}
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript" src="/js/index.js"></script>
{% endblock %}

{% block content %}
<main>
    <div class="cl-12">
        <h1>JUMUN 2019</h1>
    </div>
</main>
{% endblock %}
