{% extends "layout.njk" %}

{% block title %}Vivek Roy | Home{% endblock %}

{% block headmeta %}
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript" src="/js/index.js"></script>
{% endblock %}

{% block content %}
<nav id="nav">
    <li><a href="">Home</a></li>
    <li id="abt-ul">
        <a href="javascript:void(0);" onclick="expand('abt-ul')">About</a>
        <ul>
            <li><a href="">JUMUN 2019</a></li>
            <li><a href="">Organising Committee</a></li>
            <li><a href="">JUDS Throughout the years</a></li>
            <li><a href="">Oh Calcutta!</a></li>
            <li><a href="">What we do</a></li>
            <li><a href="">JUMUN review</a></li>
        </ul>
    </li>
    <li id="comit-ul">
        <a href="javascript:void(0);" onclick="expand('comit-ul')">Committees</a>
        <ul>
            <li><a href="">DISEC</a></li>
            <li><a href="">ECOSOC</a></li>
            <li><a href="">IPCC</a></li>
            <li><a href="">UNW</a></li>
            <li><a href="">LS</a></li>
            <li><a href="">UNSC</a></li>
            <li><a href="">DExEU</a></li>
            <li><a href="">IP</a></li>
        </ul>
    </li>
    <li><a href="">Country Matrix</a></li>
    <li><a href="">Study Guides</a></li>
    <li><a href="">Learn to MUN</a></li>
    <li><a href="">Apply</a></li>
    <li id="pay-ul">
        <a href="javascript:void(0);" onclick="expand('pay-ul')">Payment</a>
        <ul>
            <li><a href="">Online Payment</a></li>
            <li><a href="">Offline Payment</a></li>
        </ul>
    </li>
    <li><a href="">Allotments</a></li>
    <li><a href="">Contact</a></li>
</nav>
<main id="content">
    <div class="cl-10">
        <h1>JUMUN 2019</h1>
    </div>
</main>
{% endblock %}
