{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | Matrices{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('mat') }}
<main class="content">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>Matrices</h1>
        <ul id="matrices">
            <li><a class="underline" target="_blank" rel="noopener" href="https://drive.google.com/open?id=1ebWf8M_IUe2Eo89hu5hmkUHcXVdERk5IlGBsnxil1a4">DISEC</a></li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://docs.google.com/spreadsheets/d/1kzQLlMG-_uF5jc4pWZfTNK-WjNOSyPoukkYlH9dmSLU">Lok Sabha</a></li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://drive.google.com/open?id=1ERTXA9rSQhyN10ZA4e5nr9Q49cux_IAfRYWUAPTD30I">SFC</a></li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://drive.google.com/open?id=1dAmo2_nvwzw-DE4CUBfafpzlbRDF-IksU3Gac5f1LZU">HCR</a></li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://drive.google.com/open?id=1wBcad6s64Ptdd62Vm9AkXW14xvYpBSzHHNJkZVgurmc">UNSC</a></li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://drive.google.com/open?id=1-qg6eM9Labo_tWXi5TnobgsmCOtWxGKJNpVWJZV2roY">CTAD</a></li>
            <li><a class="underline" target="_blank" rel="noopener" href="https://drive.google.com/open?id=1pMVv5SmpXQhpfbjM-0XakBBhLJQGSUk-vjJd6PQ2kF8">ASECS</a></li>
        </ul>
    </section>
</main>
{% endblock %}
