{% extends 'layout.njk' %}

{% block title %}JUMUN 2019 | Study Guides{% endblock %}

{% block content %}
{% import 'macros/nav.njk' as nav %}
{{ nav.nav('sg') }}
<main class="content">
    {% include "partials/o_header.njk" %}
    <section class="cl-10">
        <h1>Study Guides</h1>
        <p><a class="underline" target="_blank" rel="noreferrer noopener" href="https://drive.google.com/open?id=1YX8Ebk-3F53eIhrfUYWzcDbrAZlpmr-j">Click here</a> to view the study guides.</p>
    </section>
</main>
{% endblock %}
