{% macro gen_del_info(number) %}
<h3 id="del_text">Delegate {{number}} Info</h3>
<label for="del_{{number}}_name">Name</label>
<input id="del_{{number}}_name" type="text" name="del_{{number}}_name">
<br>
<label for="del_{{number}}_email">Email</label>
<input id="del_{{number}}_email" type="text" name="del_{{number}}_email">
<br>
<label for="del_{{number}}_phone">Phone</label>
<input id="del_{{number}}_phone" type="text" name="del_{{number}}_phone">
<br>
<label for="del_{{number}}_inst">Institution</label>
<input id="del_{{number}}_inst" type="text" name="del_{{number}}_inst">
<br>
<label for="del_{{number}}_exp">Previous MUN experience <small>(Optional)</small></label>
<textarea id="del_{{number}}_exp" rows="3" name="del_{{number}}_exp"></textarea>
<br>
<p>Food preference</p>
<input id="del_{{number}}_vfood" type="radio" name="del_{{number}}_food" value="veg">
<label class="radio" for="del_{{number}}_vfood">Veg</label>
<input id="del_{{number}}_nvfood" type="radio" name="del_{{number}}_food" value="nonveg">
<label class="radio" for="del_{{number}}_nvfood">Non-Veg</label>
<p>Avail accomodation</p>
<input id="del_{{number}}_yaccom" type="radio" name="del_{{number}}_accom" value="yes">
<label class="radio" for="del_{{number}}_yaccom">Yes</label>
<input id="del_{{number}}_naccom" type="radio" name="del_{{number}}_accom" value="no">
<label class="radio" for="del_{{number}}_naccom">No</label>
<p>Avail JUMUN merchandise<br><small>(includes JUMUN 2019 official T-shirt, cost Rs. 250)</small></p>
<input id="del_{{number}}_ymerch" type="radio" name="del_{{number}}_merch" value="yes">
<label class="radio" for="del_{{number}}_ymerch">Yes</label>
<input id="del_{{number}}_nmerch" type="radio" name="del_{{number}}_merch" value="no">
<label class="radio" for="del_{{number}}_nmerch">No</label>
<input class="btn" type="submit" value="Next">
{% endmacro %}

{% macro gen_country_pref(number, country_number) %}
<label for="del_pref{{number}}_country{{country_number}}" id="label_del_pref{{number}}_country{{country_number}}">Preference {{country_number}}</label>
<select id="del_pref{{number}}_country{{country_number}}" name="pref{{number}}_country{{country_number}}" disabled onchange="del_pref{{number}}_c{{country_number}}_change(this)">
    <option value="" disabled selected></option>
</select>
{% endmacro %}

{% macro gen_pref(number) %}
<h3>Preference {{number}}</h3>
<label for="del_pref{{number}}_comit">Committee</label>
<select id="del_pref{{numer}}_comit" name="pref{{number}}_committee" onchange="del_pref{{number}}_change(this)">
    <option value="" disabled selected></option>
    <option value="disec">UNGA DISEC</option>
    <option value="hcr">UNHCR</option>
    <option value="aippm">AIPPM</option>
    <option value="sfc">Seneca Falls Conference</option>
    <option value="unctad">UNCTAD</option>
    <option value="ip-report">International Press (Reporter)</option>
    <option value="ip-photo">International Press (Photographer)</option>
    <option value="unsc">UNSC</option>
    <option value="asecs">ASECS</option>
</select>
{{ gen_country_pref(number, '1') }}
{{ gen_country_pref(number, '2') }}
<input class="btn" type="submit" value="Next">
{% endmacro %}
