{% macro nav(name='h') %}
{% set nav_active_class = 'nav-active' %}
<nav id="nav">
    <li><a {% if name == 'h' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Home</a></li>
    <li id="abt-ul">
        <a href="javascript:void(0);" onclick="expand('abt-ul')">About</a>
        <ul>
            <li><a {% if name == 'aj2' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>JUMUN 2019</a></li>
            <li><a {% if name == 'aoc' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Organising Committee</a></li>
            <li><a {% if name == 'ajtty' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>JUDS Throughout the years</a></li>
            <li><a {% if name == 'aohc' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Oh Calcutta!</a></li>
            <li><a {% if name == 'awwd' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>What we do</a></li>
            <li><a {% if name == 'ajr' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>JUMUN review</a></li>
        </ul>
    </li>
    <li id="comit-ul">
        <a href="javascript:void(0);" onclick="expand('comit-ul')">Committees</a>
        <ul>
            <li><a {% if name == 'cdisec' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>DISEC</a></li>
            <li><a {% if name == 'cecosoc' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>ECOSOC</a></li>
            <li><a {% if name == 'cipcc' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>IPCC</a></li>
            <li><a {% if name == 'cunw' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>UNW</a></li>
            <li><a {% if name == 'cls' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>LS</a></li>
            <li><a {% if name == 'cunsc' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>UNSC</a></li>
            <li><a {% if name == 'cdexeu' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>DExEU</a></li>
            <li><a {% if name == 'cip' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>IP</a></li>
        </ul>
    </li>
    <li><a {% if name == 'cm' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Country Matrix</a></li>
    <li><a {% if name == 'sg' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Study Guides</a></li>
    <li><a {% if name == 'ltm' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Learn to MUN</a></li>
    <li><a {% if name == 'apply' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Apply</a></li>
    <li id="pay-ul">
        <a href="javascript:void(0);" onclick="expand('pay-ul')">Payment</a>
        <ul>
            <li><a {% if name == 'pon' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Online Payment</a></li>
            <li><a {% if name == 'poff' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Offline Payment</a></li>
        </ul>
    </li>
    <li><a {% if name == 'allot' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Allotments</a></li>
    <li><a {% if name == 'ct' %}class="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Contact</a></li>
</nav>
{% endmacro %}
