{% macro nav(name='h') %}
{% set nav_active_class = 'nav-active' %}
<nav id="nav">
    <ul>
        <li><a {% if name == 'h' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/"{% endif %}>Home</a></li>
        <li id="abt-ul">
            <a href="javascript:void(0);" onclick="expand('abt-ul')">About</a>
            <ul>
                <li><a {% if name == 'aj2' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/about/jumun2019"{% endif %}>JUMUN 2019</a></li>
                <li><a {% if name == 'ape' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/about/past-editions"{% endif %}>Past Editions</a></li>
                <li><a {% if name == 'aoc' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Organising Committee</a></li>
                <li><a {% if name == 'ajr' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/about/jumun-review"{% endif %}>JUMUN review</a></li>
            </ul>
        </li>
        <li id="comit-ul">
            <a href="javascript:void(0);" onclick="expand('comit-ul')">Committees</a>
            <ul>
                <li><a {% if name == 'cdisec' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/disec"{% endif %}>DISEC</a></li>
                <li><a {% if name == 'cip' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/ip"{% endif %}>IP</a></li>
                <li><a {% if name == 'caippm' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/aippm"{% endif %}>AIPPM</a></li>
                <li><a {% if name == 'csfc' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/sfc"{% endif %}>SFC</a></li>
                <li><a {% if name == 'chcr' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/hcr"{% endif %}>HCR</a></li>
                <li><a {% if name == 'cunsc' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/unsc"{% endif %}>UNSC</a></li>
                <li><a {% if name == 'cctad' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/ctad"{% endif %}>CTAD</a></li>
                <li><a {% if name == 'casecs' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/committees/asecs"{% endif %}>ASECS</a></li>
            </ul>
        </li>
        <li><a {% if name == 'mat' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/matrices"{% endif %}>Matrices</a></li>
        <li><a {% if name == 'sg' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Study Guides</a></li>
        <li><a {% if name == 'ltm' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Learn to MUN</a></li>
        <li><a {% if name == 'apply' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/apply"{% endif %}>Apply</a></li>
        <li id="pay-ul">
            <a href="javascript:void(0);" onclick="expand('pay-ul')">Payment</a>
            <ul>
                <li><a {% if name == 'pon' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Online Payment</a></li>
                <li><a {% if name == 'poff' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Offline Payment</a></li>
            </ul>
        </li>
        <li><a {% if name == 'allot' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href="/allotment"{% endif %}>Allotments</a></li>
        <li><a {% if name == 'ct' %}id="{{nav_active_class}}" href="javascript:void(0);"{% else %}href=""{% endif %}>Contact</a></li>
    </ul>
</nav>
<div id="nav-undercast" onclick="hidenav()"></div>
<button id="nav-btn" class="btn" onclick="shownav()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
        <path fill="white" d="M6,15h12c0.553,0,1,0.447,1,1v1c0,0.553-0.447,1-1,1H6c-0.553,0-1-0.447-1-1v-1C5,15.447,5.447,15,6,15z M5,11v1
                c0,0.553,0.447,1,1,1h12c0.553,0,1-0.447,1-1v-1c0-0.553-0.447-1-1-1H6C5.447,10,5,10.447,5,11z M5,6v1c0,0.553,0.447,1,1,1h12
                c0.553,0,1-0.447,1-1V6c0-0.553-0.447-1-1-1H6C5.447,5,5,5.447,5,6z"/>
    </svg>
</button>
{% endmacro %}
