footer {
    margin-left: 17rem;
    padding: 1.5em;
    background-color: #262626;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 400;
    flex-wrap: wrap;
    align-items: flex-start;

    >div {
        padding: 1em;
    }
    ul {
        padding-left: 0.5em;
        li {
            padding: 0.25em 0.5em;
            list-style: none;
        }
    }
    img {
        width: 2.5em;
    }
    @media screen and (max-width: 870px) {
        margin-left: 0;
    }
    @media screen and (max-width: 450px) {
        justify-content: initial;
    }
}
