#index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    min-height: 40vh;
    color: white;
    padding-top: 2em;
    padding-bottom: 2em;

    h1,h2 {
        text-transform: uppercase;
        margin: 0;
    }
    >div {
        z-index: 2;
        display: inline-block;
    }
    h1 {
        font-weight: 400;
        font-size: 4vw;
    }
    h2 {
        font-weight: 300;
        font-size: 2.5vw;
    }
    svg {
        z-index: 2;
        height: 20vw;
    }
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #img-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #262626;
        opacity: 0.6;
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        * {
            text-align: center !important;
        }
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 1.875em;
        }
        svg {
            height: 100%;
            max-height: 300px;
        }
    }
    @media screen and (max-width: 500px) {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.56em;
        }
    }
}

#other-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2em;

    h1 {
        font-weight: 300;
        font-size: 2em;
        text-align: right;
    }
    svg {
        margin-left: 1em;
        height: 5em;
    }
}
