#index-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3em;

    h1,h2 {
        font-weight: 300;
        text-transform: uppercase;
        margin: 0;
    }
    >div {
        display: inline-block;
    }
    h1 {
        font-size: 4vw;
    }
    h2 {
        font-size: 2.5vw;
    }
    svg {
        height: 20vw;
    }
    @media screen and (max-width: 1000px) {
        flex-direction: column-reverse;
        * {
            text-align: center !important;
        }
        h1 {
            font-size: 3em;
        }
        h2 {
            font-size: 1.875em;
        }
        svg {
            height: 100%;
            max-height: 300px;
        }
    }
    @media screen and (max-width: 500px) {
        h1 {
            font-size: 2.5em;
        }
        h2 {
            font-size: 1.56em;
        }
    }
}

#other-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 2em;

    h1 {
        font-weight: 300;
        font-size: 2em;
        text-align: right;
    }
    svg {
        margin-left: 1em;
        height: 5em;
    }
}
