#nav {
    position: fixed;
    top: 0; left: 0; bottom: 0;
    overflow-y: auto;
    width: 17em;
    padding-top: 2em;
    padding-bottom: 2em;
    background-image: linear-gradient(to right, #2d0a7e, #561498);
    box-shadow: 0 0 15px 2px #2d2d2d;
    z-index: 99;
    will-change: transform;

    * {
        color: white;
        font-weight: 400;
    }
    li {
        list-style: none;
        text-transform: uppercase;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
        font-size: 1.1em;
        max-height: 2.6em;
        a {
            padding: 0.75em 2em;
            display: block;
            &#nav-active, &:hover {
                background-color: #561498;
            }
        }
    }
    ul {
        margin: 0.5em 0;
        padding: 0;
        li {
            max-height: none;
            a {
                padding: 0.75em 2em 0.75em 3.5em;
            }
        }
    }
    @media screen and (max-width: 870px) {
        transform: translateX(-105%);
    }
}
