@import 'fonts';
@import 'containers';
@import 'nav';
@import 'header';
@import 'notify';
@import 'committees';
@import 'footer';
@import 'main';

#uinfo {
    >li {
        margin-bottom: 1em;
        padding-left: 0.3em;
        >ul {
            margin-top: 0.7em;
        }
    }

    &,ul,ol {
        padding-left: 1.1em;
    }
}

#apply-sec {
    max-width: 400px;
    margin: auto;
    display: block;
    padding-top: 1.2em;

    label{
        font-size: 0.9em;
        &::after {
            content: '';
            display: block;
        }
    }
    p {
        font-size: 0.9em;
    }
    input[type="radio"] {
        margin-bottom: 1.5em;
    }
    input[type="text"], textarea, select {
        width: 100%;
        margin-bottom: 0.8em;
        border: 1px solid #8f8f8f;
        border-radius: 3px;
    }
    select[disabled] {
        background-color: #ededed;
        border-color: #ededed;
    }
    .btn {
        font-size: 0.75em;
        margin: 20px;
        margin-top: 2em;
        margin-left: auto;
        border-radius: 3px;
        box-shadow: 0 3px 1px -2px #3d3d3d, 0 2px 2px 0 #4d4d4d, 0 1px 5px 0 #4f4f4f;
    }
    form {
        display: none;
    }
}

#matrices {
    li {
        margin-top: 1em;
        font-size: 1.2em;
    }
}

#blog {
    hr {
        margin: 0 0 2rem 0;
        width: 100px;
        max-width: 10vw;
        height: 5px;
        outline: none;
        background-color: #811EE4;
    }
    #posts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 1em 0;
        article {
            flex: 1;
            margin: 1rem;
            @media screen and (max-width: 670px),
                   screen and (min-width: 870px) and (max-width: 1200px) {
                min-width: 300px;
                max-width: 360px;
            }
        }
    }
    article a {
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: row;
        box-shadow: 0 0 6px rgba(0,0,0,0.16), 3px 6px 8px rgba(0,0,0,0.23);
        transition: box-shadow 0.2s ease-out;
        &:hover {
            box-shadow: 0 0 6px rgba(0,0,0,0.26), 6px 9px 20px rgba(0,0,0,0.33);
        }
        .img {
            position: relative;
            overflow: hidden;
            width: 500px;
            height: 400px;
            flex-grow: 0;
            flex-shrink: 0;
        }
        img {
            position: absolute;
            top: 0; left: 0; width: 100%; height: 100%;
        }
        img:nth-child(1) {
            object-fit: cover;
            filter: brightness(70%) blur(5px);
            transform: scale(1.1);
        }
        img:nth-child(2) {
            object-fit: contain;
        }
        .details {
            margin: 0 2rem;
        }
        h2 {
            margin-bottom: 0.2em;
        }
        .date {
            font-size: 0.8em;
            margin-bottom: 1em;
        }
        @media screen and (max-width: 870px) {
            .img {
                width: 350px;
                height: 280px;
            }
        }
        @media screen and (max-width: 670px),
               screen and (min-width: 870px) and (max-width: 1200px) {
            flex-direction: column;
            .img {
                width: 100%;
                height: 80vw;
                max-height: 320px;
            }
            .details {
                margin: 0 1rem;
            }
        }
    }
}

#blog-post {
    * {
        hyphens: auto;
    }
    hr {
        margin: 0 0 2rem 0;
        width: 100px;
        max-width: 10vw;
        height: 5px;
        outline: none;
        background-color: #811EE4;
    }
    ul,ol {
        padding-left: 1.1em;
    }
    li {
        padding-left: 0.3em;
    }
    blockquote {
        margin: 2em 0;
        padding: 0 1em;
        font-size: 1.1em;
        border-left: 5px solid #811EE4;
        .text {
            text-align: left;
        }
        .author {
            text-align: right;
            font-style: italic;
        }
    }
    .post-img-full {
        width: 100%;
        margin-bottom: 1.5rem;
    }
    .post-img {
        width: 100%;
        max-width: 500px;
        float: left;
        margin-right: 2rem;
        margin-bottom: 1.5rem;
    }
    .cover {
        position: relative;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img:nth-child(1) {
            position: absolute;
            top: 0; left: 0; width: 100%; height: 100%;
            object-fit: cover;
            filter: brightness(70%) blur(5px);
            transform: scale(1.1);
            z-index: -1;
        }
        img:nth-child(2) {
            width: 100%;
            max-height: 60vh;
            object-fit: contain;
        }
    }
    .title {
        margin-bottom: 0.5em;
    }
    .date {
        margin-bottom: 2em;
    }
}

#latest {
    .articles {
        display: flex;
        flex-wrap: no-wrap;
        flex-direction: row;
        justify-content: flex-start;
        overflow-x: scroll;
    }
    article {
        position: relative;
        border-radius: 10px;
        flex-grow: 0;
        flex-shrink: 0;
        margin: 0 1rem;
        overflow: hidden;
        width: 20vw;
        height: 16vw;
        min-width: 250px;
        min-height: 200px;
        max-width: 500px;
        max-height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: absolute;
            top: 0; left: 0; width: 100%; height: 100%;
            z-index: -1;
            filter: brightness(70%) blur(1px);
            transform: scale(1.1);
            object-fit: cover;
        }
        h3 {
            color: white;
            font-size: 1.5em;
            text-align: center;
            padding: 1rem;
            margin: 0;
            text-shadow: 3px 3px 6px #333;
        }
    }
}

hr {
    margin-top: 1rem;
    margin-bottom: -1rem;
}

#sg {
    width: 100%;
    max-width: 500px;
    float: left;
    margin: 0 2rem 1rem 0;
}
