@import 'fonts';
@import 'containers';
@import 'nav';
@import 'header';
@import 'notify';
@import 'committees';
@import 'footer';
@import 'main';

#uinfo {
    >li {
        margin-bottom: 1em;
        padding-left: 0.3em;
        >ul {
            margin-top: 0.7em;
        }
    }

    &,ul,ol {
        padding-left: 1.1em;
    }
}

#apply-sec {
    max-width: 400px;
    margin: auto;
    display: block;
    padding-top: 1.2em;

    label{
        font-size: 0.9em;
        &::after {
            content: '';
            display: block;
        }
    }
    p {
        font-size: 0.9em;
    }
    input[type="radio"] {
        margin-bottom: 1.5em;
    }
    input[type="text"], textarea, select {
        width: 100%;
        margin-bottom: 0.8em;
        border: 1px solid #8f8f8f;
        border-radius: 3px;
    }
    select[disabled] {
        background-color: #ededed;
        border-color: #ededed;
    }
    .btn {
        font-size: 0.75em;
        margin: 20px;
        margin-top: 2em;
        margin-left: auto;
        border-radius: 3px;
        box-shadow: 0 3px 1px -2px #3d3d3d, 0 2px 2px 0 #4d4d4d, 0 1px 5px 0 #4f4f4f;
    }
    form {
        display: none;
    }
}

#matrices {
    li {
        margin-top: 1em;
        font-size: 1.2em;
    }
}
